@import './social_icons'
a,a:hover,a:visited,a:link,a:active
    text-decoration: none
    color: inherit


*
    box-sizing: border-box
    font-weight: 400

.col-2
    display: flex
    flex-flow:row
    justify-content: space-around

.col-sub
    flex:3
    padding: 15px 20px
    margin-left: 20px
    @media screen and (max-width: 901px)
        display:none

.col-main
    flex:8
    padding: 5px 20px

h1,h2,h3,h4,h5,h6
    margin: 0

ul
    padding-left: 0

li
    list-style-type: none
