.widget-containter
  margin-bottom: 42px
  h3
    font-weight:500
    font-size:22px
    font-family:Verdana
    color:#444
  a
    color:#e95095
  li
    font-size:14px
    line-height:1.5em
    padding-left:18px
    position:relative
    margin:.5em 0
    vertical-align:top
    &::before
      position: absolute
      top:-1px
      left: 2px
      content: '\f105'
      font-family: fontawesome
      font-size: 18px
      opacity: .5

.post-date
    display: block;
    font-size: .9em;
    padding-top: 3px;
    opacity: .5;

.post-number
    font-size: 14px
    color:#666